@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

*{
	margin: 0px;
	padding: 0px;
	box-sizing: border border-box;
}

body {
  color: black;
  background: #E0E4E5;
}

.heaNavega{
	width: 70%;
	text-align: right;

}

.heaNavega a{
	color: white;
	text-decoration: none;
	padding: 0 20px;
	font-family: 'Anton', sans-serif;
	font-size: 20px;
}

.heaNavega a:hover{
	color: #BF46FF;

}

.titulo{
	text-align: center;
	font-family: 'Oswald', sans-serif;
	font-size: 30px;
	background: #333;
	color: white;
}


@media (min-width:1024px) {
	.contenedor {
		width: 1000px;
	}
}

#info {
	background: #333;
	color: #fff;
	text-align: center;
}

#info .contenedor {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.info-pet {
	margin: 20px;
}
.info-pet h4{
	color: white;
	
}

.info-pet img {
	width: 180px;
	height: 180px;
	border-radius: 50%;
	border: 7px solid #fff;
}

@media (min-width:480px) {
	.info-pet {
		width: 40%;
	}
}

@media (min-width:1024px) {
	.info-pet {
		width: auto;
	}
}

.contenedor{
    width: 100%;
    overflow: hidden;
    display: block;
    color: black;
    font-family: 'Open Sans', sans-serif;

}

.slider-contenedor{
    width: 100%;
    display: flex;
}

.contenido-slider{
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-shrink: 0;
    background-image: url('../images/slider 2.jpg');
    background-size: 100%;
    opacity: 0.8;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);

}
.contenido-slider h1{
	font-size: 50px;
}
.contenido-slider h2{
	font-size: 20px;

}
.contenido-slider:nth-child(2){
    background: #333;
    background-image: url('../images/mision-vision.jpg');
    background-size: 100%;
    opacity: 0.8;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.contenido-slider:nth-child(3){
    background: #333;
    background-image: url('../images/BT1-HEADER-CANT-WFH.png');
    background-size: 100%;
    opacity: 0.8;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}
.contenido-slider:nth-child(4){
    background: #333;
}

.contenido-slider > img{
    width: 400px;

}

.contenido-slider > div{
    width: 40%;
}

.contenido-slider h1{
    font-weight: 300;
    text-align: justify;
    line-height: 30px;
}

.contenido-slider h2{
    font-weight: 300;
    text-align: justify;
    line-height: 30px;
}

.contenido-slider a{
    color: #fff;
    background: #332863;
    width: 100px;
    display: block;
    padding: 15px 0;
    text-align: center;
    border-radius: 3px;
    margin-top: 20px;
    text-decoration: none;
}

.contenido-slider:nth-child(2) a{
    background: #fff;
    color: #332863;
    
}

@media screen and (max-width:900px){
    .contenido-slider > img{
        width: 250px;
    }

    .contenido-slider > div{
        width: 40%;
    }

    .contenido-slider h2{
        font-size: 23px;
    }
}


@media screen and (max-width:600px){
    .contenido-slider{
       flex-direction: column-reverse;
    }

    .contenido-slider > div{
        width: 80%;
    }

}

.container2 {
	margin-top: 3%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container2 {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container2 {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container2 {
    width: 1170px;
  }
}
.container2-fluid {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.row2 {
  margin-right: -15px;
  margin-left: -15px;
}
